In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import pickle

df = pd.read_json("projects.json")
df.head(5)

,id,team_size,budget,workload,start_time,completed_time,completion_time,project_tasks
0,0,2,1704.20,medium,2023-05-10,2023-06-15,36 days,[{'task': {'description': 'Implement project m...
1,1,2,4431.35,light,2023-03-08,2023-03-31,23 days,[{'task': {'description': 'Conduct financial m...
2,2,7,5917.78,medium,2023-02-05,2023-04-18,72 days,[{'task': {'description': 'Conduct project ret...
3,3,5,1454.42,medium,2023-01-07,2023-02-28,52 days,[{'task': {'description': 'Develop and impleme...
4,4,9,17465.23,medium,2023-06-21,2023-07-05,14 days,[{'task': {'description': 'Analyze market tren...

In [6]:
df.dtypes

id                   int64
team_size            int64
budget             float64
workload            object
completion_time     object
project_tasks       object
dtype: object

In [4]:
df['number_of_tasks'] = df.apply(lambda x: len(x['project_tasks']), axis=1)
df['completion_time'] = df['completion_time'].str.replace(' days', '').astype(int)
df.head(5)

,id,team_size,budget,workload,start_time,completed_time,completion_time,project_tasks,number_of_tasks
0,0,2,1704.20,medium,2023-05-10,2023-06-15,36,[{'task': {'description': 'Implement project m...,4
1,1,2,4431.35,light,2023-03-08,2023-03-31,23,[{'task': {'description': 'Conduct financial m...,4
2,2,7,5917.78,medium,2023-02-05,2023-04-18,72,[{'task': {'description': 'Conduct project ret...,4
3,3,5,1454.42,medium,2023-01-07,2023-02-28,52,[{'task': {'description': 'Develop and impleme...,2
4,4,9,17465.23,medium,2023-06-21,2023-07-05,14,[{'task': {'description': 'Analyze market tren...,3

In [17]:
features = ['team_size', 'budget', 'workload', 'number_of_tasks']
target = 'completion_time'
X = df[features]
y = df[target]

X_encoded = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.93, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

acc = r2_score(y_test, y_pred)
print(acc)

-0.10529477968853795

In [16]:
filename = "model.pkl"
with open(filename, 'wb') as file:
    pickle.dump(model, file)