In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import pickle

df = pd.read_json("projects.json")
df.head(5)

,id,team_size,budget,workload,completion_time,project_tasks
0,0,4,6041.04,medium,9 weeks,[{'task': {'description': 'Create and deliver ...
1,1,9,14342.56,light,6 weeks,[{'task': {'description': 'Develop and execute...
2,2,1,11569.16,medium,7 weeks,[{'task': {'description': 'Develop and execute...
3,3,1,7376.05,heavy,9 weeks,[{'task': {'description': 'Conduct user traini...
4,4,6,6277.35,light,5 weeks,[{'task': {'description': 'Lead and facilitate...

In [6]:
df.dtypes

id                   int64
team_size            int64
budget             float64
workload            object
completion_time     object
project_tasks       object
dtype: object